.typingBox{
    max-width:1000px;
    height: 100px;
    color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: default;
    outline: none;
    
}
#buttonContainer{
  margin-bottom: 3rem;
}
.word{
  display: flex;
  flex-direction: row;
  margin: 4px
}
.letter {
  font-size: 2rem;
}
.typingWindow{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)
  }

[contentEditable=true]:empty:focus:after {
    content: attr(data-text)
  }

.correct{
  color:black
}
.error{
  color: red;
}
/* .letter{
  color:gray
} */
